<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{paid}}">
		{{#if paid}}PAID!{{else}}UNPAID{{/if}}
	</button>

	<button class="delete-invoice" data-id="{{this.id}}">DELETE!</button>
</li>